# list

In [53]:
lst=[2,34,456,56.45,[1,2,3]]

In [54]:
lst

[2, 34, 456, 56.45, [1, 2, 3]]

In [55]:
lst.append("vyshu")

In [56]:
lst

[2, 34, 456, 56.45, [1, 2, 3], 'vyshu']

In [57]:
lst.copy()

[2, 34, 456, 56.45, [1, 2, 3], 'vyshu']

In [58]:
lst.count(34)

1

In [59]:
lst.extend([1,2,3,'v'])

In [60]:
lst

[2, 34, 456, 56.45, [1, 2, 3], 'vyshu', 1, 2, 3, 'v']

In [61]:
lst.index(1)

6

In [62]:
lst.insert(89,667)

In [63]:
lst

[2, 34, 456, 56.45, [1, 2, 3], 'vyshu', 1, 2, 3, 'v', 667]

In [64]:
lst.insert(0,38)

In [65]:
lst

[38, 2, 34, 456, 56.45, [1, 2, 3], 'vyshu', 1, 2, 3, 'v', 667]

In [66]:
lst.pop(2)

34

In [67]:
lst.remove(667)

In [68]:
lst.reverse()

In [69]:
lst

['v', 3, 2, 1, 'vyshu', [1, 2, 3], 56.45, 456, 2, 38]

In [70]:
lst.clear()

In [71]:
lst

[]

# dictionaries

In [72]:
dit={"name":"vaishu","age":"20","school":"ghs","gender":"female"}

In [73]:
dit

{'name': 'vaishu', 'age': '20', 'school': 'ghs', 'gender': 'female'}

In [75]:
dit.copy()

{'name': 'vaishu', 'age': '20', 'school': 'ghs', 'gender': 'female'}

In [76]:
dit.get("name")

'vaishu'

In [77]:
dit.items()

dict_items([('name', 'vaishu'), ('age', '20'), ('school', 'ghs'), ('gender', 'female')])

In [78]:
dit.keys()

dict_keys(['name', 'age', 'school', 'gender'])

In [82]:
dit.pop("age")

'20'

In [85]:
dit.fromkeys("school","ghs")

{'s': 'ghs', 'c': 'ghs', 'h': 'ghs', 'o': 'ghs', 'l': 'ghs'}

In [96]:
dit.update()

In [97]:
dit

{'name': 'vaishu', 'school': 'ghs', 'gender': 'female'}

In [98]:
dit.update({"color": "white"})

In [99]:
dit

{'name': 'vaishu', 'school': 'ghs', 'gender': 'female', 'color': 'white'}

In [100]:
dit.popitem()

('color', 'white')

In [101]:
dit.setdefault("name","srikanth")

'vaishu'

In [102]:
dit.clear()

In [103]:
dit

{}

# sets

In [104]:
st={23,45,665,"nani","apple"}

In [105]:
st

{23, 45, 665, 'apple', 'nani'}

In [106]:
st.add(567)

In [107]:
st

{23, 45, 567, 665, 'apple', 'nani'}

In [110]:
st.copy()

{23, 45, 567, 665, 'apple', 'nani'}

In [140]:
st.discard("apple")

In [141]:
st

{23, 45, 567, 665, 'nani'}

In [120]:
seta={10,20,50,60}
setb={20,30,50}

In [122]:
seta.difference(setb)

{10, 60}

In [125]:
seta={10,20,50,60}
setb={20,30,50}

In [143]:
setb.difference_update(seta)

In [144]:
setb

{20, 30, 50}

In [148]:
seta={10,20,50,60}
setb={20,30,50,23}

In [152]:
seta.intersection(setb)

{20, 50}

In [2]:
seta={10,20,50,60}
setb={20,30,50}

In [3]:
seta.intersection_update(setb)

In [4]:
seta

{20, 50}

In [5]:
seta.isdisjoint(setb)

False

In [6]:
seta.issubset(setb)

True

In [7]:
seta.clear()

In [8]:
seta

set()

# tuple

In [9]:
tup=("vyshu","nani","black",45,4793)

In [10]:
tup

('vyshu', 'nani', 'black', 45, 4793)

In [13]:
tup.count("nani")

1

In [14]:
tup.index(45)

3

# strings

In [15]:
st="nani"
st1="black"

In [17]:
st.capitalize()

'Nani'

In [28]:
st="NANI"

In [29]:
st.casefold()

'nani'

In [30]:
st.center(20)

'        NANI        '

In [32]:
st1.count("l")

1

In [33]:
st1.encode()

b'black'

In [34]:
st1.endswith("k")

True

In [39]:
st2="h\te\tl\tl\to"

In [40]:
st2.expandtabs(5)

'h    e    l    l    o'

In [49]:
st3="hello, world is good."

In [50]:
st3.find("world")

7

In [53]:
txt1="my name is{fname}, i like{color}".format(fname="nani", color="black")

In [54]:
txt1

'my name isnani, i likeblack'

In [55]:
st6= {"mamba":"name","x":"y"}

In [60]:
('{mamba} {x}'.format_map(st6))

'name y'